<section class="about">
	<div class="container">
		<div class="about__heading">
			<span class="about__subtitle">/ About Base39</span>

			<h2 class="h3 about__title about-title js-highlight-on-scroll">
				Base39 is <br class="about-title__break about-title__break--mobile" />
				a creative ecosystem built to connect <br class="about-title__break" />
				people, ideas, and opportunities. It brings together creators, startups,
				brands, and institutions in a shared environment where collaboration is
				encouraged and ideas can evolve into meaningful initiatives.
			</h2>
		</div>

		<div class="about__info">
			<picture>
				<source
					srcset="./assets/media/images/about/pic-about01.avif"
					type="image/avif"
				/>
				<source
					srcset="./assets/media/images/about/pic-about01.webp"
					type="image/webp"
				/>
				<img
					loading="lazy"
					src="./assets/media/images/about/pic-about01.png"
					class="about__img"
					width="265"
					height="265"
					alt="About image"
				/>
			</picture>

			<div class="about__aim about-aim">
				<div class="about-aim__content js-reveal-text" data-translate-y="100" data-duration="1.2" data-stagger="0.2">
					Through flexible spaces, shared resources, and a community-driven
					approach, Base supports creative professionals at different stages of
					their journey.
				</div>

				<a href="#!" class="about__btn btn btn--pt btn--pr btn--primary"
					>Learn More About Base39</a
				>
			</div>
		</div>
	</div>
</section>
