<section class="audience">
	<div class="container">
		<div class="audience__inner">
			<h3 class="audience__title">Who It’s For</h3>

			<span class="audience__number">1</span>

			<div class="audience__info audience-info">
				<h4 class="audience-info__title">Startups & Entrepreneurs</h4>
				<p class="audience-info__text">Early-stage teams and founders building creative-driven products, services, and platforms.</p>
			</div>

			<div class="audience__shapes" aria-hidden="true">
				<div class="audience__shape audience__shape--1">
					<svg
						id="square-itself"
						width="178"
						height="178"
						viewBox="0 0 179 179"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M178.423 178.423H89.2109C138.481 178.423 178.423 138.481 178.423 89.2109C178.423 39.941 138.481 0 89.2109 0C39.9412 0.000202065 0.00020204 39.9412 0 89.2109C0 138.481 39.941 178.423 89.2109 178.423H0V0H178.423V178.423Z"
							fill="#E6D2B5"
							id="shape-square"
						/>
					</svg>
				</div>

				<div class="audience__shape audience__shape--2">
					<picture>
						<source
							srcset="./assets/media/images/pic-shape-circle.avif"
							type="image/avif"
						/>
						<source
							srcset="./assets/media/images/pic-shape-circle.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./assets/media/images/pic-shape-circle.png"
							width="178"
							height="178"
							alt=""
						/>
					</picture>
				</div>

				<div class="audience__shape audience__shape--3">
					<picture>
						<source
							srcset="./assets/media/images/pic-shape-square02.avif"
							type="image/avif"
						/>
						<source
							srcset="./assets/media/images/pic-shape-square02.webp"
							type="image/webp"
						/>
						<img
							loading="lazy"
							src="./assets/media/images/pic-shape-square02.png"
							class="image"
							width="178"
							height="178"
							loading="lazy"
							alt=""
						/>
					</picture>
				</div>
			</div>

			<svg
				id="line-itself"
				width="175"
				height="288"
				viewBox="0 0 175 288"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					id="shape-line"
					d="M0 288V226.443L175 0V63.7557L0 288Z"
					fill="#A9472C"
					style="visibility: hidden; position: absolute"
				/>
			</svg>
		</div>
	</div>
</section>
