<section class="workspace">
	<div class="workspace__inner">
		<div class="workspace__wrapper">
			<picture>
				<source
					srcset="./assets/media/images/workspace/pic-workspace01.avif"
					type="image/avif"
				/>
				<source
					srcset="./assets/media/images/workspace/pic-workspace01.webp"
					type="image/webp"
				/>
				<img
					loading="lazy"
					src="./assets/media/images/workspace/pic-workspace01.png"
					class="workspace__img"
					width=""
					height=""
					alt="Workspace image"
				/>
			</picture>

			<picture>
				<source
					srcset="./assets/media/images/workspace/pic-workspace01.avif"
					type="image/avif"
				/>
				<source
					srcset="./assets/media/images/workspace/pic-workspace01.webp"
					type="image/webp"
				/>
				<img
					loading="lazy"
					src="./assets/media/images/workspace/pic-workspace01.png"
					class="workspace__img workspace__img--mobile"
					width=""
					height=""
					alt="Workspace image"
				/>
			</picture>

			<div class="workspace__content workspace-content">
				<div class="container">
					<div class="workspace-content__inner">
						<div class="workspace-content__main">
							<span class="workspace-content__text">
								More than a workspace —
							</span>

							<span class="workspace-content__text">
								a place where ideas slow down, connect
							</span>
						</div>

						<div class="workspace-content__sec">
							<div class="workspace-content__info">
								<h3 class="workspace-content__title">
									Startups & Entrepreneurs
								</h3>
								<p class="workspace-content__desc">
									Early-stage teams and founders building creative-driven
									products, services, and platforms.
								</p>
							</div>

							<div class="workspace-content__action">
								<a
									href="#!"
									class="workspace-content__btn btn btn--pt btn--pr btn--secondary"
									>Learn More About Base39</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
